* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main: #08080e;
    --secondary: #23232b;
    --text-white: white;
}

.banner {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    min-height: 80px;
    color: var(--text-white);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--main);
    color: var(--text-white);
}

header h1 {
    padding-top: 10px;
    text-align: center;
}

nav {
    padding: 10px;
    text-align: right;
}

nav a {
    text-decoration: none;
    padding: 10px;
    background-size: 100%;
    color: var(--text-white)
}

nav a:hover {
    background-color: var(--secondary);
    background-size: 100%;
    border: 1px solid white;
}

img {
    position: absolute;
    height: 100px;
    padding: 3px;
}

body {
    background-color: var(--secondary);
}

main {
    background-color: #d3d3d3;
    padding: 10px;
}

span {
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.section > div {
    flex: 0 0 80%;
}

.section > h2 {
    flex: 0 0 5%;
    padding: 15px;
    border-right: 3px solid var(--secondary);
    margin-right: 50px;
}

.section > p {
    flex: 0 0 80%;
}

.section > address {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.flex-box {
    border: 3px solid var(--main);
    display: flex;
    align-items: flex-end;
    flex: 1 0 50%;
    padding: 0 0 50px 0;
    margin: 20px;
    text-decoration: none;
    justify-content: flex-start;
}

.flex-box:first-child {
    flex-basis: 80%;
    min-height: 80px;
}

.flex-box:hover {
    border: 5px solid white;
}

address > a:hover {
    border: 2px solid var(--secondary);
}

.horiseon {
    background-image:
}

.placeholder {
    background-image: url(https://via.placeholder.com/768x100.png/000000/FFFFFF/?text=Coming+Soon);
}



